/* CSS Document */

body {
margin:0;
padding:0;
background:#ffffff;
text-align:center; /* hack para o IE */	
	}

	
	#tudo {
width: 750px;
margin-left:auto;			
margin-right:auto;			
padding: 0px;
text-align:left; /* "remdio" para o hack do IE */	
	}
	
	img {
   behavior: url("pngbehavior.htc");
}

	#fazul1 {
	position:absolute;
	width:750px;
	height:140px;
	top: 203px;
	z-index:0;
	background-color: #023567;
	layer-background-color: #023567;
	border: 1px none #000000;
	filter:alpha(opacity=40);
	opacity: .4;
	-moz-opacity: .4;
	visibility:visible;
	text-align:left;
}
	#fazul2{
	position:absolute;
	width:750px;
	height:26px;
	top: 416px;
	z-index:0;
	background-color: black;
	layer-background-color: #023567;
	border: 1px none #000000;
	filter:alpha(opacity=40);
	opacity: .7;
	-moz-opacity: .7;
	visibility:hidden;
	text-align:left;
}
   #login{
	position:absolute;
	width:750px;
	height:20px;
	top: 341px;
	z-index:0;
	visibility:hidden;
	text-align:left;
}
	#donato{
	position:absolute;
	width:750px;
	height:105px;
	top:20px;
	z-index:0;
	filter: Alpha(Opacity=80);
	visibility:visible;
	text-align:right;

}
	#museu{
	font-family: Verdana, "Bodoni MT Condensed", "Times New Roman" , Times;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	letter-spacing: 0px;
	position:absolute;
	width:695px;
	height:31px;
	top: 370px;
	z-index:1;
	visibility:visible;
	text-align:right;
	filter: Alpha(Opacity=95);
	opacity: .95;


	-moz-opacity: .95;
	line-height: 30px;
}
#sombra{
	font-family: Verdana, "Bodoni MT Condensed", "Times New Roman" , Times;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	letter-spacing: 0px;
	position:absolute;
	width:695px;
	height:31px;
	top: 371px;
	filter: blur(Direction=200, Strength=5);
	z-index:0;
	visibility:visible;
	text-align:right;
	line-height: 30px;
}
#tit_museu_int{
	font-family: Verdana, "Bodoni MT Condensed", "Times New Roman" , Times;
	font-size: 15px;
	font-weight: bold;
	color: #05203d;
	text-decoration: none;
	letter-spacing: 1px;
	position:relative;
	width:690px;
	height:31px;
	top: 15px;
	z-index:1;
	visibility:visible;
	text-align:right;
	left: 45px;
	filter: Alpha(Opacity=95);
	opacity: .95;
        -moz-opacity: .95;
}
    #sombra_tit_int{
	font-family: Verdana, "Bodoni MT Condensed", "Times New Roman" , Times;
	font-size: 15px;
	font-weight: bold;
	color: #575654;
	text-decoration: none;
	letter-spacing: 1px;
	position:relative;
	width:690px;
	height:31px;
	top: -15px;
	filter: filter: blur(Direction=200, Strength=3);
	z-index:0;
	visibility:visible;
	text-align:right;
	left: 46px;
}
   #nome_login{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFF66;
	text-decoration: none;
	font-style: normal;
	position:relative;
	width:190px;
	height:20px;
	top: 3px;
	left: -15px;
	z-index:1;
}
   #acessos{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	font-style: normal;
	position:relative;
	width:190px;
	height:20px;
	top: 5px;
	left: -15px;
	z-index:1;
}
   #acessos1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #919191;
	text-decoration: none;
	font-style: normal;
	position:relative;
	width:550px;
	height:20px;
	top: 10px;
	left: -5px;
	z-index:1;
}
	.login {
	font-family: "Arial Narrow", Arial, Helvetica;
	font-size: 10px;
	font-weight: 300;
	color: #FFFFFF;
	text-decoration: none;
	font-style: normal;
}
.combo_login {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: bold;
	font-weight: 300;
	color: white;
	text-decoration: none;
	border: gray;
	filter: Alpha(Opacity=40);
	opacity: .7;
	-moz-opacity: .7;
	background: black;
	text-align:center;
}
.visitante {
	font-family: "Arial Narrow", Arial, Helvetica;
	font-size: 10px;
	font-weight: 300;
	color: #FFCC00;
	text-decoration: none;
	font-style: normal;
}

.tit_interno {
	font-family: "Arial Narrow",Arial, Helvetica;
	font-size: 18px;
	font-style: italic;
	font-weight: normal;
	color: #596e83;
	text-decoration: none;
	letter-spacing: normal;
}
.texto_bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
	}
.texto_bold_obrig {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #474EA0;
	cursor:help;
	}
.texto_bold_especial { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
	cursor:help;
	}

.texto {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	
}
.texto_bold_branco {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #FFFFFF;
}
.combo_cadastro {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	border: 1px solid #999999;
	opacity: .7;
	-moz-opacity: .7;
	background-color: #eeeee3;
}
.combo_texto {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: bold;
	font-weight: 300;
	color: #000000;
	text-decoration: none;
	border: gray;
	border: 1px solid #999999;
	opacity: .7;
	-moz-opacity: .7;
	background-color: #eeeee3;
	text-align:center;
}
.botao {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	background-color: #ddddd5;
	border-top: thin outset #E8E8FF;
	border-right: thin outset #666666;
	border-bottom: thin outset #666666;
	border-left: thin outset #E8E8FF;
}
.combo_menu
{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
    background-color: #cccccc;
	width:450px;
}
