/* CSS Document */

body {
background-color:transparent;
scrollbar-arrow-color:#003366;
scrollbar-3dlight-color:#D2DBE1;
scrollbar-highlight-color:#BACAD2;
scrollbar-face-color:#BACAD2;
scrollbar-shadow-color:#003366;
scrollbar-darkshadow-color:#BACAD2;
scrollbar-track-color:#A1B2BB;
}